.layout-topbar {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     width: 100%;
     height: 87px;
     background-color: #323232;
}

 .titulo-principal{
     color: beige;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 40px;

 }

.titulo-secundario{
    color: beige;
    text-align: left;
    margin-left: 20px;
    text-align: center;
    font-size: 35px;
}

.titulos-terceiros{
    color: beige;
    font-size: 15px;
    alignment: left;
    float: left;
    margin-top: 20px;
}

.panel-body {
    margin: 20px;
    background-color: #191919;
    width: 100%;
    height: 50%;
    alignment: center;
    padding: 20px;

}

.panel-login{
    width: 25%;
    border: 3px solid #30383c;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px !important;

}

.textoAbout{
    color: beige;
    font-size: 20px;
}

.footer{
    background-color: #323232;
    text-align: end;
    padding: 10px;
    height: 40px;
    width: 100%;
    bottom: 0;
    position:absolute;
    border-top: #81D4FA 1px outset;



}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323232;
    border-top: #81D4FA 1px outset;
    border-bottom: #81D4FA 2px outset;
}

li {
    float: left;
    border-right:1px solid #bbb;
    border-bottom: #bbbbbb;
    border-top: #bbbbbb;
}

li:last-child {
    border-right: none;
    border-bottom: none;
    border-top: none;
}

li a {
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #81D4FA;
}

.active {
    background-color: #81D4FA;

}

.separator-line{
    background-color: beige;
    height: 50px;
}

body .ui-panelgrid .ui-panelgrid-cell{
    background-color: #191919;
    height: auto;
}

*  {
    margin:0;
    padding:0;
}

body {
    height:100%;
    background-color: #191919;
    width: 99.5%;
}

.geral {
    min-height:100%;
    position:relative;
    width:800px;
}
.content {
    overflow:hidden;
}
.aside {
    width:200px;
}
.fleft {
    float:left;
}
.fright {
    float:right;
}

