.layout-topbar {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     width: 100%;
     height: 87px;
     background-color: #323232;
}

 .titulo-principal{
     color: beige;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 40px;

 }
.titulo-secundario{
    color: beige;
    text-align: left;
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    margin-top: 10%;

}

.titulos-terceiros{
    color: beige;
    font-size: 20px;
    alignment: left;
    float: left;
    margin-left: 35%;

}
.panel-body {
    margin: 20px;
    background-color: #191919;
    width: 50%;
    height: 50%;
    alignment: center;
    padding: 20px;

}

.panel-login{
    margin: auto;
    width: auto;
    border: 3px solid #30383c;
    padding: 5px;
    height: auto;
}

.textoAbout{
    color: beige;
    font-size: 20px;
}

.footer{
    background-color: #323232;
    text-align: end;
    padding: 20px;
    height: 40px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
}

body{
    background-color: #191919;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #323232;
    border-top: #bbbbbb 1px outset;
}

li {
    float: left;
    border-right:1px solid #bbb;
    border-bottom: #bbbbbb;
    border-top: #bbbbbb;
}

li:last-child {
    border-right: none;
    border-bottom: none;
    border-top: none;
}

li a {
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #81D4FA;
}

.active {
    background-color:#81D4FA;
}

.separator-line{
    background-color: beige;
    height: 50px;
}

body .ui-panelgrid .ui-panelgrid-cell{
    background-color: #191919;
    height: 80%;
}